.bloc {
    grid-area: 1fr 2fr;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
    margin-bottom: 30px;

    .bloc-panda {
        grid-area: 1fr;
        position: relative;

        img {
            width: 300px;
            height: 300px;
        }
        p {
            span {
                background-color: white;
                padding: 7px;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }
    }
}

.bloc-content {
        background-color: white;
        width: auto;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 50px;
        margin: 0px 0px 0px 40px;
        border-bottom: 5px solid #1775F8;  
    h2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:780px) {
    
    .bloc {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .bloc-panda {
        width: 100%;
        img {
            margin-top: 20px;
            align-self: center;
        }
    }

    .bloc-content {
        margin: 0;
    }

    h1 {
        font-size: 1.8em;
    }

}
