.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.slick-dots li {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color: $blue-light;
    border-radius: 50%;
}

li.slick-active {
    button {
        background-color: $blue;
    }  
}
